<div class="form-container w600">
  <form action="/login" method="post" id="sign-form" class="am-form am-form-horizontal" data-am-validator>
    <fieldset>
      <legend>
        登录
      </legend>

      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-2 am-form-label">用户名</label>
        <div class="am-u-sm-10">
          <input type="text" name="username" class="am-form-field w300" placeholder="" required>
        </div>
      </div>

      <div class="am-form-group am-form-group-sm">
        <label for="" class="am-u-sm-2 am-form-label">密码</label>
        <div class="am-u-sm-10">
          <input type="password" name="password" class="am-form-field" placeholder="" required>
        </div>
      </div>


      <div class="am-u-sm-10 am-u-sm-offset-2">
        <input type="submit" class="am-btn am-btn-primary'" value="登录">
      </div>

    </fieldset>

  </form>

  <% include ../common/alert.ejs %>
</div>

