<div class="form-container w600">
  <form id="signup-form" class="am-form am-form-horizontal" data-am-validator>
    <fieldset>
      <legend>
        注册
      </legend>

      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-2 am-form-label">用户名</label>
        <div class="am-u-sm-10">
          <input type="text" name="username" class="am-form-field" placeholder="" required>
        </div>
      </div>

      <div class="am-form-group am-form-group-sm">
        <label for="" class="am-u-sm-2 am-form-label">密码</label>
        <div class="am-u-sm-10">
          <input type="password" name="password" class="am-form-field" placeholder="" required>
        </div>
      </div>


      <div class="am-u-sm-10 am-u-sm-offset-2">
        <input type="submit" id="signup" class="am-btn am-btn-primary'" value="注册">
      </div>

    </fieldset>

  </form>

  <div class="am-modal am-modal-alert" id="api-alert">
    <div class="am-modal-dialog">
      <div class="am-modal-hd title"></div>
      <div class="am-modal-bd content">
      </div>
      <div class="am-modal-footer">
        <span class="am-modal-btn">确定</span>
      </div>
    </div>
  </div>
</div>

