<div class="error-container">
  <h2 class="error-message">
    <% if (typeof error!== 'undefined') { %>
    <%= error %>
    <% } else { %>
    <%= data %>
    <% } %>
  </h2>
  <a href="/"><img src="/images/cry.jpg"/></a>

</div>


