<div class="am-modal am-modal-alert" id="api-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd title"></div>
    <div class="am-modal-bd content">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>